@use 'sass:map';
@use '../../custom-theme.scss' as theme;

// footer {
//     background-color: theme.color(primary, 10);
//     height: 32rem;
//     margin: 0;
//     //padding: 0rem 6rem;

//     .text-footer {
//         font-family: "IBM Plex Sans";
//         font-style: bold;
//         font-size: 7rem;
//         font-weight: 900;
//         line-height: 100%;
//         text-transform: capitalize;
//         text-align: start;
//         color: theme.color(tertiary, 70);
//         margin: 0;
//         padding: 1rem 0rem 0rem 6rem;
//     }

//     .footer-links a {
//         color: theme.color(primary, 100);
//         display: flex;
//         justify-content: flex-start;
//         flex-direction: column;
//         padding: 0rem 0rem 0rem 6rem;
//     }

//     .contacto {
//         margin-bottom: 6rem;
//     }

//     span {
//         color: theme.color(primary, 100);
//         padding: 0rem 0rem 0rem 6rem;
//     }

//     a {
//         text-decoration: none;
//         color: theme.color(primary, 10);
//     }
// }

$fs-h1: clamp(2.4rem, 4vw + 1rem, 7rem);

footer {
  background-color: theme.color(primary, 10);
  padding: 6rem 12rem;

  @media (max-width: 768px) {
    padding: 2rem;   // o 1.5rem, lo que prefieras
  }

  .text-footer {
    font-family: "IBM Plex Sans";
    font-size: $fs-h1;
    font-weight: 900;
    color: theme.color(tertiary, 70);
    margin-bottom: 2rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-bottom: 2rem;

    a {
      color: theme.color(primary, 100);
      text-decoration: none;
      font-weight: 700;
    }
  }

  span {
    color: theme.color(primary, 100);
    display: block;

    a {
      color: theme.color(primary, 100);
      text-decoration: underline;
    }
  }
}
