.legal-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12rem;
    margin: 0 auto;
    width: 100%;
}

h2 {
    display: flex;
    align-items: flex-start;
}