// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'sass:map';
@use './custom-theme' as theme;

html {
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
    ),
    typography:  (
      fontFamily: 'IBM Plex Sans, Source Sans 3',
    ),
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'IBM Plex Sans', 'Source Sans 3'; }

.home {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background-color: theme.color(primary, 100);
  }

.button-style-global {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 2px solid theme.color(tertiary, 70);
    font-family: 'Source Sans 3';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: theme.color(primary, 10);
    padding: 0.6rem 2rem;
    background-color: theme.color(primary, 100);
    cursor: pointer;

    &:hover {
        background-color: theme.color(tertiary, 70);
        transition: background-color 0.3s, color 0.3s;
    }
}

H2 {
    font-family: "IBM Plex Sans";
    font-style: bold;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    color: theme.color(secondary, 10);
}

.background-description {
  background-color: theme.color(primary, 95);
}
